* {
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	padding: 0;
	margin: 0;
	border: none;
}
.container {
	justify-content: space-between;
}
.navbar {
	display: flex;
	padding: 0.6rem 0;
}
.nav-link {
	text-decoration: none;
	font-weight: 500;
	color: rgb(88, 4, 156);
}
.navbar-content,
.navbar-collapse {
	display: flex;
	justify-content: center;
}
.navbar-nav {
	flex: 0.7;
	justify-content: space-between;
	align-items: center;
	font-size: 1rem;
}
.navbar-brand {
	display: none;
}
.navbar-toggler {
	box-shadow: none !important;
	padding: 0 !important;
	display: flex;
}
.nav-item.logo {
	padding: 0 0.5rem;
}
.banner__section {
	margin-top: 4rem;
	padding: 1rem;
	background-color: rgb(88, 4, 156);
}
.carousel .carousel-item {
	height: 400px;
}

.carousel-item img {
	width: 100%;
	object-fit: fill;
	min-height: 400px;
}
.carousel-control {
	width: 25%;
	height: 20%;
	object-fit: contain;
}
.card__section > div {
	margin: 0 auto;
	justify-content: space-evenly;
}
.card_item {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.card_item > img {
	width: 100%;
	object-fit: contain;
}
.card__span,
.main__section,
.last__section {
	color: rgb(80, 0, 145);
}
.last__section {
	margin-top: 1rem;
}
.cover__section {
	height: 16rem;
}
.main__section {
	background-color: rgb(255, 217, 0);
	height: 12rem;
	position: relative;
}
.quotes {
	color: rgba(33, 0, 67, 0.645);
}
.border-end {
	border-right: 1px solid rgba(69, 0, 126, 0.35) !important ;
}
footer {
	background-color: rgb(80, 0, 160);
	color: white;
}
.image {
	position: absolute;
	top: 3.6rem;
}
.image > img {
	width: 60%;
}
@media (max-width: 1048px) {
	.image {
		top: 5.2rem;
	}
	.image > img {
		width: 65%;
	}
}
@media (max-width: 899px) {
	.image {
		top: 5.6rem;
	}
	.image > img {
		width: 70%;
	}
}
@media (max-width: 768px) {
	main {
		font-size: 0.8rem;
	}
	.carousel .carousel-item {
		height: 300px;
	}

	.carousel-item img {
		width: 100%;
		object-fit: fill;
		min-height: 300px;
	}
	.image {
		top: 4.5rem;
	}
	.image > img {
		width: 80%;
	}
}
@media only screen and (max-width: 576px) {
	.navbar {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
		justify-content: flex-end;
	}
	.navbar-content {
		justify-content: space-between;
		padding: 0 0.5rem 0.5rem 0.5rem;
		flex-grow: 1;
	}
	.navbar-collapse {
		background-color: rgb(80, 0, 160);
	}
	.nav-link {
		color: rgb(179, 179, 179);
	}
	.nav-link:hover {
		color: #ffffff;
	}
	main {
		font-size: 0.7rem;
	}
	.nav-item.logo,
	.hidesm {
		display: none;
	}
	.navbar-brand {
		display: block;
	}
	.carousel .carousel-item {
		height: 200px;
	}
	.carousel-item img {
		width: 100%;
		object-fit: cover;
		min-height: 200px;
	}
	.border-end {
		border: none !important;
	}
	.image {
		top: 3rem;
	}
	.image > img {
		width: 70%;
	}
}
@media only screen and (max-width: 464px) {
	.image {
		top: 4.2rem;
	}
	.image > img {
		width: 80%;
	}
}
@media (max-width: 348px) {
	.image {
		top: 5.5rem;
	}
	.image > img {
		width: 90%;
	}
}
.ham__container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.6rem;
	height: 2.6rem;
	background-color: transparent;
	transition: all 0.5s ease-in-out;
}
.hamburger {
	width: 70%;
	height: 3px;
	background-color: rgb(80, 0, 160);
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
}

.hamburger::before,
.hamburger::after {
	margin: 0;
	padding: 0;
	content: "";
	position: absolute;
	width: 70%;
	height: 3px;
	background-color: rgb(80, 0, 160);
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
}

.hamburger::before {
	transform: translate(-48%, -0.6rem);
}
.hamburger::after {
	transform: translate(-48%, 0.6rem);
}

/* animation */
.ham__container.open .hamburger {
	background: transparent;
	transition: all 0.2s ease-in-out;
}

.ham__container.open .hamburger::before {
	transform: rotate(45deg) translate(-9px, 9px);
}
.ham__container.open .hamburger::after {
	transform: rotate(-45deg) translate(-9px, -9px);
}
