* {
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	padding: 0;
	margin: 0;
	border: none;
}
.navbar {
	display: flex;
	padding: 0.7rem 0;
}
.nav-link {
	text-decoration: none;
	font-weight: 500;
	color: rgb(88, 4, 156);
}
.navbar-content,
.navbar-collapse {
	display: flex;
	justify-content: center;
}
.navbar-nav {
	flex: 0.6;
	justify-content: space-between;
	align-items: center;
	font-size: 1rem;
}
.navbar-brand {
	display: none;
}
.navbar-toggler {
	box-shadow: none !important;
	padding: 0 !important;
	display: flex;
}
.nav-item.logo {
	padding: 0 0.5rem;
}
.banner__section {
	margin-top: 3.7rem;
	padding: 1.1rem 0 0.9rem 0;
	background-color: rgb(88, 4, 156);
}
#myCarousel {
	padding: 0;
}
.carousel .carousel-item {
	max-height: 345px;
}
.carousel-item img {
	width: 100%;
	object-fit: fill;
	min-height: 345px;
}
.carousel-control-prev {
	justify-content: flex-start;
}
.carousel-control-next {
	justify-content: flex-end;
}
.carousel-control {
	width: 25px;
	object-fit: contain;
}
.card__section {
	margin-top: 18px;
	margin-bottom: 20px;
}
.card__section > div.container > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.card_item {
	flex: 0.32;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0.5rem;
}
.card_item > img {
	width: 100%;
	object-fit: contain;
}
.card__span,
.main__section {
	color: rgb(80, 0, 145);
}
.main__section {
	background: linear-gradient(#ffd900 49%, transparent 49%);
}
.img-fluid {
	max-width: 85%;
}
.img_row {
	position: relative;
	top: -1.7rem;
}
.quotes {
	color: rgba(33, 0, 67, 0.645);
	margin-top: 1rem;
	margin-bottom: 2rem;
}
.border-end {
	border-right: 1px solid rgba(69, 0, 126, 0.35) !important ;
}
footer {
	background-color: rgb(80, 0, 160);
	color: white;
}
@media (max-width: 992px) {
	.main__section {
		background: linear-gradient(#ffd900 51%, transparent 51%);
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 100%;
	}
	main {
		font-size: 0.9rem;
	}
	.carousel .carousel-item {
		max-height: 280px;
	}
	.carousel-item img {
		width: 100%;
		object-fit: fill;
		min-height: 275px;
	}
	.navbar-nav {
		flex: 0.85;
		justify-content: space-between;
		align-items: center;
		font-size: 1rem;
	}
	.img_row {
		position: relative;
		top: -1.7rem;
	}
	.card_item {
		flex: 0.324;
	}
}
@media only screen and (max-width: 576px) {
	main {
		font-size: 1rem;
	}
	.navbar {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
		justify-content: flex-end;
	}
	.navbar-content {
		justify-content: space-between;
		padding: 0 0.5rem 0.5rem 0.5rem;
		flex-grow: 1;
	}
	.navbar-collapse {
		background-color: rgb(80, 0, 160);
	}
	.nav-link {
		color: rgb(179, 179, 179);
	}
	.nav-link:hover {
		color: #ffffff;
	}
	.nav-item.logo,
	.hidesm {
		display: none;
	}
	.navbar-brand {
		display: block;
	}
	.carousel .carousel-item {
		max-height: 200px;
	}
	.carousel-item img {
		width: 100%;
		object-fit: cover;
		min-height: 200px;
	}
	.card__section > div.container > div {
		flex-direction: column;
	}
	.border-end {
		border: none !important;
		margin-bottom: 0.5rem;
	}
	.main__section {
		background: linear-gradient(#ffd900 46%, transparent 46%);
	}
	.img_row {
		position: relative;
		top: -1.5rem;
	}
	.quotes {
		margin-top: 0.5rem;
		margin-bottom: 1rem;
	}
}

.navbar-toggler {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.6rem;
	height: 2.6rem;
	background-color: transparent;
	transition: all 0.5s ease-in-out;
}
.hamburger {
	position: relative;
	width: 70%;
	height: 3px;
	background-color: rgb(80, 0, 160);
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
}

.hamburger::before,
.hamburger::after {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgb(80, 0, 160);
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
}

.hamburger::before {
	transform: translateY(-0.6rem);
}
.hamburger::after {
	transform: translateY(0.6rem);
}

/* animation */
.navbar-toggler.open .hamburger {
	background: transparent;
	transition: all 0.2s ease-in-out;
}

.navbar-toggler.open .hamburger::before {
	transform: rotate(45deg);
}
.navbar-toggler.open .hamburger::after {
	transform: rotate(-45deg);
}
