* {
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	padding: 0;
	margin: 0;
}
.container {
	justify-content: space-between;
}

.nav-link {
	text-decoration: none;
	font-weight: 500px;
	color: rgb(88, 4, 156);
}
.navbar-content {
	justify-content: center;
	margin: 0 5px;
}
.navbar-nav {
	justify-content: space-around;
}
.banner__section {
	margin-top: 4rem;
}
.card__section > div {
	margin: 0 auto;
	justify-content: space-evenly;
}
.card_item {
	display: flex;
	flex-direction: column;
	flex: 0.3;
	align-items: center;
}
.card_item > img {
	width: 100%;
	object-fit: contain;
}
.card__span {
	color: rgb(80, 0, 145);
}
@media only screen and (max-width: 576px) {
	.navbar {
		padding-left: 0;
		padding-right: 0;
		justify-content: flex-end;
		padding-bottom: 0;
	}
	.navbar-content {
		justify-content: space-between;
		padding: 0.5rem;
		flex-grow: 1;
	}
	.navbar-collapse {
		background-color: rgb(80, 0, 160);
		color: white;
		order: 1;
	}
	.nav-link {
		color: rgb(197, 197, 197);
	}
	.nav-link:hover {
		color: #ffffff;
	}
	.card__section > div {
		flex-direction: column;
	}
	main {
		font-size: 0.8rem;
	}
}

@media only screen and (max-width: 768px) {
	main {
		font-size: 0.9rem;
	}
}
